<nav class="navbar navbar-dark bg-dark">
    <div class="text-bg-dark p-1" >
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" id="couleur-vav-link" [routerLink]="['/datasets']">Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="couleur-vav-link" aria-current="page" [routerLink]="['/etiquetage/list-domain']">Etiquetage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="couleur-vav-link" href="#">Models</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" id="couleur-vav-link" href="#">Documentation</a>
          </li>
          
          </ul>  
      </div>
</nav>

