<nav class="navbar navbar-dark bg-dark"></nav>
<nav class="navbar navbar-dark bg-dark"></nav>
<nav class="navbar navbar-dark bg-dark"></nav>
<body class="bd">
    
<br/><br/>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <p class="card-text"> </p>
          <a routerLink="/project/audio-classification" class="btn btn-primary"> new project</a>
        </div>
      </div>
    </div>
</div>

    <br/><br/>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <p class="card-text"> </p>
          <a routerLink="/project/audio-classification" class="btn btn-primary"> List project</a>
        </div>
      </div>
</div>
</div>
</body>