
<body class="imgs">
  
    <div>
  
    <div class="row jusify-content-center" *ngIf="isAuth == false">
        <div class="col ">
            <div class="alert alert-danger alert-with-icon" data-notify="container">
                <i class="material-icons" data-notify="icon">add_alert</i>
                <span data-notify="message">{{ alertMess }}</span>
            </div>
        </div>
    </div>
    <div class="boxmarge ">
        <div class="container" id="container">
       <!--     <div class="form-container sign-up-container">
                <form action="#">
                    <h4>Always be careful on the net</h4>
                    <p>Cookie: Formerly sweet little cake, which we
                        accepted with pleasure. Today: a small, oddly salty computer file, which must be
                        vehemently refuse.</p>
                    <div class="social-container">
                        <a href="#" class="social"></a>
                        <a href="#" class="social"></a>
                        <a href="#" class="social"></a>
                    </div>
                    It is clear that we must find an African solution to our problems and that it can only be found in African unity.                          </form>
            </div>
            -->
            <div class="form-container sign-in-container">
                     
                <form action="#">
                    <input type="sting" placeholder="Last name" name="last_name" />
                    <input type="string" placeholder="Second name" name="second_name" />
                    <input type="email" placeholder="Email" name="email" />
                    <input type="password" placeholder="Password" name="password" />
                    <input type="password" placeholder="Confirme password" name="password" />
                    <a href="#">Forgot your password?</a>
                    <button  type="button"  class="btn btn-success" routerLink="/auth/login">Login</button>
            
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Security</h1>
                        <p>
                            To access the administration area, please log in with your personal information.
                        </p>
                        <button class="ghost" id="signIn" >login</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h2>Welcome</h2>
                        <h3>CITADEL APP</h3>
                        <h4>box collect</h4>
                        <button class="ghost" id="signUp">Sécurity Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
  </div>
  
  </body>
  