<nav class="navbar navbar-dark bg-dark"></nav>
<nav class="navbar navbar-dark bg-dark"></nav>
<nav class="navbar navbar-dark bg-dark"></nav>
<body class="bd">
    
<br/><br/>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Vous aller creer un projet du domaine. </p>
          <a routerLink="/project/audio-classification" class="btn btn-primary"> micro-worker</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Verifier et valider les donnees collecter</p>
          <a href="#" class="btn btn-primary">expert</a>
        </div>
      </div>
    </div>
  </div>
<div class="cool"></div>
</body>