

<br/><br/>
<div class="s">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-body-secondary">Transcription</h6>
      <p class="card-text"><a routerLink="/etiquetage/audio-text-worker" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color:  rgb(182, 180, 180)">  moore audio-to-french text </a></p>
      <p class="card-text"><a routerLink="/etiquetage/text-text-worker" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color:  rgb(182, 180, 180)">  moore text-to-french text </a></p>
    </div>
  </div>
</div>

  <br/><br/>
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-body-secondary">Classification</h6>
      <p class="card-text"><a routerLink="/etiquetage/audio-classification-worker" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color:  rgb(182, 180, 180)">  moore audio-classification </a></p>
      <p class="card-text"><a routerLink="/etiquetage/text-classification-worker" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color:  rgb(182, 180, 180)">   moore text-classification </a></p>
    </div>
  </div> 









