<nav class="navbar navbar-dark bg-dark">
    <!-- Le contenu de votre navigation ici -->
  
  </nav>
  <div class="text-bg-dark p-1" >
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" id="couleur-vav-link" aria-current="page" routerLink="/auth/login">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="couleur-vav-link" href="#">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="couleur-vav-link" href="#">Contact</a>
      </li>
      </ul>  
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <!-- Le contenu de votre navigation ici -->
  
  
    <body class="bd">
    </body>
  
  </nav>
    
    
    
    
    
    